.tutubanner {
  width: 100%;
  margin-bottom: 1.4em;
  background: #ebb5b3;
  z-index: 100;
}
.btn-tutushare {
  color: #fff;
  background-color: #ee5d17;
  border-color: #fff;
}

.btn-tutushare:hover {
  background-color: #ebb5b3;
  color: #ee5d17;
}
.tutu-brand {
  margin-left: 1rem;
}

h1,
h3,
h5 {
  font-family: Monsteratt;
  color: #ee5d17;
}


p {
  font-family: Monsteratt;
  font-size: medium;
  color: grey;
}

.body-tutu {
  background-color: #eeeeee;
}

.header-tutu {
  text-align: center;
}
.main-tutu {
  padding-left: 2em;
}
table.tutuTable {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 40px;
  border-collapse: separate;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 60%;
  overflow-y: auto;
  background-color: #212529;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
  padding: 40px;
}

.btn-tutu-cookie {
  padding: 1.5rem 2.5rem;
  background-color: #ebb5b3;
  color: #ee5d17;
  margin-left: 35rem;
  border-radius: 50%;
}
.btn-tutu-cookie:hover{
  color: #fff;
  background-color: #f33211;
  border-color: #fff;
}